@import "../../../../styles.scss";

li {
  list-style: none;
}
.avatar {
  height: 90px;
  width: 90px;
}
.accepted-status {
  border: 4px solid greenyellow;
  border-radius: 50px;
}
.invited-status {
  border: 4px solid gray;
  border-radius: 50px;
}
.declined-status {
  opacity: 0.2;
  border: 4px solid red;
  border-radius: 50px;
}
.header {
  background-color: $c2;
}
.members{
    height: 300px;
    overflow: auto;
}   

.event-image{
    height: auto;
    width: 300px;
    border-radius: 30px;
}

.qr{
    position: relative;
    top: 0px;
}