@import "../../../../styles.scss";

li {
  list-style: none;
}
.avatar {
  height: 50px;
  width: 50px;
}
.accepted-status {
  border: 4px solid greenyellow;
  border-radius: 50px;
}
.invited-status {
  border: 4px solid gray;
  border-radius: 50px;
}
.declined-status {
  opacity: 0.2;
  border: 4px solid red;
  border-radius: 50px;
}
