<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ event.title | uppercase }}</mat-card-title>
  </mat-card-header>
  <img
    class="image-event"
    mat-card-image
    [src]="event.image ? event.image : 'assets/images/event.png'"
    alt="{{ event.title }}"
  />
  <mat-card-content>
    <p>
      {{ event.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button id="details" (click)="select(event)" [routerLink]="[event.id, 'details']" mat-raised-button color="primary">
      <mat-icon>details</mat-icon>
    </button>

    <button id="ivnite" (click)="inviteClick()" mat-raised-button color="primary">
      <mat-icon>group_add</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <p><mat-icon>date_range</mat-icon> {{ event.start | date: 'shortDate' }}</p>
    <p><mat-icon>access_time</mat-icon> {{ event.start | date: 'shortTime' }} - {{ event.end | date: 'shortTime' }}</p>
  </mat-card-footer>
</mat-card>
