<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <h3>ADD NEW EVENT</h3>
    </mat-card-title>
  </mat-card-header>
  <ngx-skeleton-loader
    [theme]="{ width: '100%', height: '250px', 'border-radius': '10px' }"
    count="1"
    appearance="circle"
  >
  </ngx-skeleton-loader>
  <ngx-skeleton-loader [theme]="{ width: '60  px', height: '60  px' }" count="1" appearance="circle">
  </ngx-skeleton-loader>
</mat-card>
  