@import '../../../styles.scss';

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  cursor: pointer;
  margin-top: 15%;
  min-width: 200px;
}

li:hover {
  background: #3f51b5;
}

a {
  color: aliceblue;
}
i {
  font-size: 1em;
}
a:hover {
  color: aliceblue;
}
.active {
  background: #3f51b5;
}

