@import "../../../styles.scss";

ul{
  margin: 0px;
  padding: 0px;

}

li {
  list-style: none;
  cursor: pointer;
  margin-top: 15%;
  min-width: 200px;
}
li:first-child {
  margin-top: 100px;
}
li:hover {
  background: #3F51B5;
}

a {
  color: aliceblue;
}
i {
  font-size: 1.0em;
  vertical-align:middle;
}
a:hover {
  color: aliceblue;
}
.active{
  background: #3F51B5;
}
.nav-item{
  font-size: 2rem;
  text-align: center;
}