<ul class="container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="40">
  <li
    fxLayoutAlign="space-evenly center"
    fxLayout="row"
    fxFlex
    [routerLink]="item.link"
    [ngClass]="{ active: item.link == currentPath }"
    color="primary"
    *ngFor="let item of items"
  >
    <mat-icon class="nav-item">{{ item.icon }}</mat-icon>
    <p>
      {{ item.label }}
    </p>
  </li>
  <li fxLayoutAlign="space-evenly center" fxLayout="row" fxFlex routerLink="item.link" routerLink="/access/signin">
    <mat-icon class="nav-item">assessment</mat-icon>
    <p>Log out</p>
  </li>
</ul>
