<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form fxLayout="column" fxLayoutAlign="space-evenly center" [formGroup]="basicFormGroup">
      <ng-template matStepLabel>Let's Start</ng-template>
      <mat-form-field>
        <input id="title" matInput placeholder="Title" formControlName="title" required />
      </mat-form-field>
      <mat-form-field>
        <input id="description" matInput placeholder="Description" formControlName="description" />
      </mat-form-field>

      <div>
        <button id="next" [(disabled)]="basicFormGroup.invalid" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="true">
    <app-calendary [events$]="events$"> </app-calendary>

    <form [formGroup]="dateFormGroup" fxLayout="column" fxLayoutAlign="space-evenly center">
      <ng-template matStepLabel>Pick time and room</ng-template>
      <mat-form-field>
        <mat-label>List of available rooms</mat-label>
        <mat-select id="select" formControlName="room">
          <mat-option id="option" *ngFor="let room of rooms$ | async" [value]="room.id">
            {{ room.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div formGroupName="date" [formGroup]="dateFormGroup" fxLayout="column" fxLayoutAlign="space-evenly center">
        <mat-form-field>
          <input id="start" matInput type="datetime-local" placeholder="start date" formControlName="start" />
        </mat-form-field>
        <mat-form-field>
          <input id="end" matInput type="datetime-local" placeholder="end date" formControlName="end" />
        </mat-form-field>
      </div>

      <div>
        <button id="next2" mat-button matStepperPrevious>Back</button>
        <button id="back" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Summary:
    <div>
      <button id="back2" mat-button matStepperPrevious>Back</button>
      <button id="submit" mat-button (click)="submit()">Add Event</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
