<div class="container" fxLayout="column" fxLayoutAlign="center stretch">
  <mat-toolbar fxFlex="10" color="primary">
    <button id="menu" (click)="handleClick()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>EVENT</span>
  </mat-toolbar>
  <mat-sidenav-container fxFlex>
    <mat-sidenav [(opened)]="opened">
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
