<!-- <div class="p-grid">
  <div class="p-col-12 top-menu ">
   <app-top-menu> </app-top-menu>
  </div>
  <div class="p-col-12 ">
    <div class="p-grid ">
      <div class="p-col-1 sidemenu">
        <app-side-menu ></app-side-menu>

      </div>

      <div class="p-col-11 content ">
        <router-outlet></router-outlet>

      </div>
    </div>

  </div>
</div> -->
<!-- TODO -->
<!-- <p-progressBar  [style]="{'height': '6px'}" mode="indeterminate" ></p-progressBar> -->

<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<mat-toolbar color="primary">
  <button (click)="handleClick()" mat-icon-button>

    <mat-icon>menu</mat-icon>
  </button>
  <span>EVENT</span>


</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav [(opened)]="opened">
    <app-side-menu></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>
