<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20">
  <h2>Sign up</h2>

  <form [formGroup]="signup" class="form" class="field-width" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-error *ngIf="error">
      {{ error }}
    </mat-error>
    <mat-form-field class="field-width">
      <input type="text" matInput placeholder="Username" value="" formControlName="username" id="username" />
    </mat-form-field>
    <mat-form-field class="field-width">
      <input type="email" matInput placeholder="Email" value="" formControlName="email" id="email" />
    </mat-form-field>

    <mat-form-field class="field-width">
      <input type="password" matInput placeholder="Password" value="" formControlName="password" id="password" />
    </mat-form-field>
    <mat-form-field class="field-width">
      <input
        type="password"
        matInput
        placeholder="Confirm password"
        value=""
        formControlName="confirmPassword"
        id="confirmPassword"
      />
    </mat-form-field>
  </form>
  <button [disabled]="signup.invalid" type="submit" (click)="submit()" mat-stroked-button color="primary" id="submit">
    Submit
  </button>
</div>
