<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20">
  <h2>Sign up</h2>

  <form class="form" class="field-width" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-form-field class="field-width">
      <input type="text" matInput placeholder="username" value="">
    </mat-form-field>
    <mat-form-field class="field-width">
      <input type="email" matInput placeholder="email" value="">
    </mat-form-field>

    <mat-form-field class="field-width">
      <input type="password" matInput placeholder="password" value="">
    </mat-form-field>
    <mat-form-field class="field-width">
      <input type="password" matInput placeholder="password" value="">
    </mat-form-field>
  </form>
  <button type="submit" mat-stroked-button color="primary">Submit</button>
</div>
