<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20">
  <h2>Sign in</h2>
  <form
    class="form"
    class="field-width"
    [formGroup]="signin"
    fxLayout="column"
    fxLayoutGap="20"
    fxLayoutAlign="space-around center"
  >
    <mat-form-field class="field-width">
      <input
        type="text"
        matInput
        placeholder="username"
        value=""
        formControlName="username"
      />
    </mat-form-field>

    <mat-form-field class="field-width">
      <input
        type="password"
        matInput
        placeholder="password"
        value=""
        formControlName="password"
      />
    </mat-form-field>
  </form>
  <button type="submit" (click)="submit()" mat-stroked-button color="primary">
    Submit
  </button>
</div>
