<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20">
  <h2>Sign in</h2>

  <form
    class="form"
    class="field-width"
    [formGroup]="signin"
    fxLayout="column"
    fxLayoutGap="20"
    fxLayoutAlign="space-around center"
    (submit)="submit()"
  >
  <mat-error *ngIf="error">
    {{error}}
</mat-error>
    <mat-form-field class="field-width">
      <input
        type="text"
        matInput
        placeholder="Username"
        value=""
        formControlName="username"
      />
    </mat-form-field>

    <mat-form-field class="field-width">
      <input
        type="password"
        matInput
        placeholder="Password"
        value=""
        formControlName="password"
      />
    </mat-form-field>
  </form>
  <button [disabled]="signin.invalid" type="submit" (click)="submit()" mat-stroked-button color="primary">
    Submit
  </button>
</div>
