@import "../../../styles.scss";

.avatar{
    height: 40px;
    width: 40px;
    border: 5px solid $font;
    padding: 5px;
    border-radius: 25px;
    background: $font
}
.avatar:hover{
    height: 40px;
    width: 40px;
    border: 2px solid $hover;
    padding: 5px;
    border-radius: 25px;
}
.logo{
    // background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0c/Eventa_Logo.png");
}