/* You can add global styles to this file, and also import other style files */
$c1:#201F1F;
$c2:#313130;
$c3:#292827;
$c4:#008F68;
$c5:#24DD8F;
$hover:#61A8FF;
$font: #F4F4F4;


body {
    background-color: $c1;
    color:$font;
    font-family: 'Crimson Text', serif;  }
